.li {
    margin-left: 0;
    margin-bottom: 30px;
    list-style: none;
}

.link{
    color: #2a7ae2;
    text-decoration: none;
}

.link:hover {
    color: #111;
    text-decoration: underline; 
}

.date{
    font-size: 14px;
    color: #828282;
}

.h3{
    margin: 0;
}
